{% extends 'base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    {{ message.message }}
  {% endfor %}
{% else %}
  <p>【{{ user.username }}】 さん こんにちは！</p>
{% endif %}
<table>
  <tbody>
      <tr>
        <td>ユーザーネーム</td>
        <td>名前</td>
        <td>メールアドレス</td>
        <td>誕生日</td>
        <td>性別</td>
      </tr>
      <tr>
        <th>{{ user.username }}</th>
        <th>{{ user.last_name}} {{ user.first_name }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.birthday }}</th>
        {% if user.gender == 1 %}
          <th>男性</th>
        {% elif user.gender == 2 %}
          <th>女性</th>
        {% else %}
          <th>その他</th>
        {% endif %}
      </tr>
  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'accounts:user_update' pk=user.id %}">更新</a>
<a class="btn btn-danger" href="{% url 'accounts:user_delete' pk=user.id %}">退会</a>
{% endblock%}
