<h1>Todo List</h1>
<a href="{% url 'todo_create' %}">新規作成</a>
<table>
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">deadline</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.deadline }}</td>
        <td><a href="{% url 'todo_detail' task.pk %}">詳細</a></td>
        <td><a href="{% url 'todo_update' task.pk %}">編集</a></td>
        <td><a href="{% url 'todo_delete' task.pk %}">削除</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
